[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/smart-stats/ds4bio_book/HEAD)

# sqlite in python

An sqlite3 library ships with python. In this tutorial, we'll discuss how to utilize this library and read sqlite tables into pandas. With this, you can generalize to other python APIs to other databases. First, let's continue on with our work from the previous notebook. A nice little tutorial can be found [here](https://datacarpentry.org/python-ecology-lesson/09-working-with-sql/index.html).

In [8]:
import sqlite3 as sq3
import pandas as pd

con = sq3.connect("sql/opioid.db")
# cursor() creates an object that can execute functions in the sqlite cursor

sql = con.cursor()

for row in sql.execute("select * from county_info limit 5;"):
    print(row)

    
# you have to close the connection
con.close

Let's read this dataset into pandas.

In [13]:
con = sq3.connect("sql/opioid.db")

county_info = pd.read_sql_query("SELECT * from county_info", con)

# you have to close the connection
con.close

county_info.head

<bound method NDFrame.head of                BUYER_COUNTY BUYER_STATE countyfips STATE COUNTY  \
0          1        AUTAUGA          AL      01001     1      1
1          2        BALDWIN          AL      01003     1      3
2          3        BARBOUR          AL      01005     1      5
3          4           BIBB          AL      01007     1      7
4          5         BLOUNT          AL      01009     1      9
...      ...            ...         ...        ...   ...    ...
28260  28261       WASHAKIE          WY      56043    56     43
28261  28262         WESTON          WY      56045    56     45
28262  28263        SKAGWAY          AK      02230     2    230
28263  28264  HOONAH ANGOON          AK      02105     2    105
28264  28265     PETERSBURG          AK      02195     2    195

         county_name                               NAME    variable  year  \
0            Autauga            Autauga County, Alabama  B01003_001  2006
1            Baldwin            Baldwin County, Alabama  B01003_001  2006
2            Barbour            Barbour County, Alabama  B01003_001  2006
3               Bibb               Bibb County, Alabama  B01003_001  2006
4             Blount             Blount County, Alabama  B01003_001  2006
...              ...                                ...         ...   ...
28260       Washakie           Washakie County, Wyoming  B01003_001  2014
28261         Weston             Weston County, Wyoming  B01003_001  2014
28262        Skagway       Skagway Municipality, Alaska  B01003_001  2014
28263  Hoonah Angoon  Hoonah-Angoon Census Area, Alaska  B01003_001  2014
28264     Petersburg         Petersburg Borough, Alaska  B01003_001  2014

      population           Areaname LND110210D
0          51328        Autauga, AL     594.44
1         168121        Baldwin, AL    1589.78
2          27861        Barbour, AL     884.88
3          22099           Bibb, AL     622.58
4          55485         Blount, AL     644.78
...          ...                ...        ...
28260       8444       Washakie, WY    2238.55
28261       7135         Weston, WY    2398.09
28262        996        Skagway, AK     452.33
28263       2126  Hoonah-Angoon, AK    7524.92
28264       3212     Petersburg, AK    3281.98

[28265 rows x 13 columns]>